.slider-content h2{
    text-shadow: 2px 2px 7px #000000;
}
.about-name .about-say-img img{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}