.slider-content h2{
    text-shadow: 2px 2px 7px #000000;
}
.about-name .about-say-img img{
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.testimonial-img{
  width: 170px !important;
  height: 231px !important;
}
.testimonial-img img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.client-say-img{
  width: 50px !important;
  height: 50px !important;
}
.client-say-img img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.pl-28 {
  padding-left: 10rem !important;
  padding-right: 10rem !important;
}

/* Media query for mobile devices */
@media (max-width: 768px) { /* Adjust the max-width as needed */
  .pl-28 {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
  .tab-content{
    margin-top: 25px !important;
  }
}

.center-align-content{
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.squre-btn{
  border-radius: 0px !important;
  width: 100% !important;
  /* color: #fff !important; */
  margin-bottom: 15px !important;
}
.squre-shadow{
  -webkit-box-shadow: 2px 4px 12px 0px rgba(0,0,0,0.46);
box-shadow: 2px 4px 12px 0px rgba(0,0,0,0.46);
}
.nav-item .active{
  background-image: -webkit-linear-gradient(-51deg, #eb120a 0%, #b51f38 99%);
  color: #fff !important;

}
.white-btn:hover{
  /* transform: translateY(0px) !important; */
  /* color: -webkit-linear-gradient(-51deg, #eb120a 0%, #b51f38 99%); */
  color: #b51f38;
}
.delete-btn{
  cursor: pointer;
  position: absolute !important;
  right: 18px !important;
  top: 15px !important;
  font-size: 20px !important;
  color: #b51f38 !important;
}
.pwd-req{
  margin-left: 33px !important;
}
.pwd-req ul {
  margin-left: 43px !important;
}
.pwd-req ul li{
  list-style-type: disc !important;
}