.slider-content h2 {
    text-shadow: 2px 2px 7px #000000;
}

.slider-content h2 span {
    color: #bc110b !important;
}
.about-name .about-say-img img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
.testimonial-img {
    width: 170px !important;
    height: 231px !important;
}
.testimonial-img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}
.client-say-img {
    width: 50px !important;
    height: 50px !important;
}
.client-say-img img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}
.pl-28 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    /* Adjust the max-width as needed */
    .pl-28 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .tab-content {
        margin-top: 25px !important;
    }
}

.center-align-content {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.squre-btn {
    border-radius: 0px !important;
    width: 100% !important;
    /* color: #fff !important; */
    margin-bottom: 15px !important;
}
.squre-shadow {
    -webkit-box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.46);
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.46);
}
.nav-item .active {
    background-image: -webkit-linear-gradient(-51deg, #eb120a 0%, #b51f38 99%);
    color: #fff !important;
}
.white-btn:hover {
    /* transform: translateY(0px) !important; */
    /* color: -webkit-linear-gradient(-51deg, #eb120a 0%, #b51f38 99%); */
    color: #b51f38;
}
.delete-btn {
    cursor: pointer;
    position: absolute !important;
    right: 18px !important;
    top: 15px !important;
    font-size: 20px !important;
    color: #b51f38 !important;
}
.pwd-req {
    margin-left: 33px !important;
}
.pwd-req ul {
    margin-left: 43px !important;
}
.pwd-req ul li {
    list-style-type: disc !important;
}
.mt-20-btn {
    margin-top: 20px !important;
}
.color-brown {
    color: #b51f38 !important;
}
.appiontment-form input {
    text-transform: none !important;
}
.quote-form {
    border: 4px solid #000;
    padding: 30px;
}
.quote-form input {
    border-radius: 0px !important;
    border-color: #000 !important;
}
:root {
    --arrow-bg: rgba(0, 0, 0, 1);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --option-bg: white;
    --select-bg: rgba(255, 255, 255, 1);
    --arrow-bg-booking: #eeeeee;
}
.appiontment-form select{
    appearance: none;
    border: 2px solid #eeeeee;
    height: 70px;
    border-radius: 0px !important;
    outline: 0;
    font: inherit;
    width: 100%;
    /* Personalize */
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, var(--arrow-bg-booking) 3em, var(--select-bg) 3em);
    color: #282828;
    border-radius: 0.25em;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
    /* Remove focus outline */
    &:focus {
        outline: none;
    }

}
.quote-form select{
    appearance: none;
    border: 2px solid #000;
    height: 70px;
    border-radius: 0px !important;
    outline: 0;
    font: inherit;
    width: 100%;
    /* Personalize */
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color: #000;
    border-radius: 0.25em;
    /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); */
    cursor: pointer;
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
    /* Remove focus outline */
    &:focus {
        outline: none;
    }
}
.slider-overlay {
    background-color: rgba(0, 0, 0, 0.2);
}
.slider-overlay h2 {
    font-size: 100px;
    line-height: 1.2;
}
#typing {
    white-space: nowrap;
    overflow: hidden;
}
.breadcrumb-overlay {
    background-color: rgba(0, 0, 0, 0.4);
}
.mobile-menu .mean-bar a {
    right: 15px !important;
}
@media (max-width: 1280px) {
    .appiontment-area {
        background-image: none !important;
    }
}
@media (max-width: 992px) {
    .faq-img {
        margin: 0 !important;
    }
    .mb-130 {
        margin-bottom: 0 !important;
    }
    .header-right {
        display: none !important;
    }
}
#contact-form .form-2-box input::placeholder {
    color: #fff !important; /* Set the desired color for the placeholder text */
}

/* tracking  */
.hh-grayBox {
    background-color: #f8f8f8;
    margin-bottom: 20px;
    padding: 35px;
    margin-top: 20px;
}
.pt45 {
    padding-top: 45px;
}
.order-tracking {
    text-align: center;
    width: 25%;
    position: relative;
    display: block;
}
.order-tracking .is-complete {
    display: block;
    position: relative;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 0px solid #afafaf;
    background-color: #f7be16;
    margin: 0 auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
    z-index: 2;
}
.order-tracking .is-complete:after {
    display: block;
    position: absolute;
    content: "";
    height: 14px;
    width: 7px;
    top: -2px;
    bottom: 0;
    left: 5px;
    margin: auto 0;
    border: 0px solid #afafaf;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
.order-tracking.completed .is-complete {
    border-color: #27aa80;
    border-width: 0px;
    background-color: #27aa80;
}
.order-tracking.completed .is-complete:after {
    border-color: #fff;
    border-width: 0px 3px 3px 0;
    width: 7px;
    left: 11px;
    opacity: 1;
}
.order-tracking p {
    color: #a4a4a4;
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
    line-height: 20px;
}
.order-tracking p span {
    font-size: 14px;
}
.order-tracking.completed p {
    color: #000;
}
.order-tracking::before {
    content: "";
    display: block;
    height: 3px;
    width: calc(100% - 40px);
    background-color: #f7be16;
    top: 13px;
    position: absolute;
    left: calc(-50% + 20px);
    z-index: 0;
}
.order-tracking:first-child:before {
    display: none;
}
.order-tracking.completed:before {
    background-color: #27aa80;
}
.dark-btn-custom {
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    padding: 26px 54px 26px 50px;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 50px;
    border: none;
    transition: 0.3s;
    background: rgb(91, 91, 91) !important;
    background: linear-gradient(
        90deg,
        #5b5b5b 0%,
        rgba(0, 0, 0, 1) 100%,
        #18272a 100%
    ) !important;
    background-image: -moz-linear-gradient(-51deg, #5b5b5b 0%, #18272a 99%) !important;
    background-image: -webkit-linear-gradient(-51deg, #5b5b5b 0%, #18272a 99%) !important;
    background-image: -ms-linear-gradient(-51deg, #5b5b5b 0%, #18272a 99%) !important;
}
.red-btn {
    background-image: -moz-linear-gradient(-51deg, #eb120a 0%, #b51f38 99%) !important;
  background-image: -webkit-linear-gradient(-51deg, #eb120a 0%, #b51f38 99%) !important;
  background-image: -ms-linear-gradient(-51deg, #eb120a 0%, #b51f38 99%) !important;
}
.white-btn:hover {
    color: #000000 !important;
}
