.vertical-line::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #868686; /* Adjust line color and width */
}
.line {
    position: relative; /* Required for positioning the line */
}
.pr-100 {
    padding-right: 100px !important;
}
.d-bg {
    background-color: #f4f4f6 !important;
}
.total-font {
    font-size: 34px !important;
}
.total-text {
    display: flex;
    justify-content: end;
}
.default-curser {
    cursor: default !important;
}
.barcode-text {
    font-size: 15px !important;
    margin-bottom: 0px !important;
}
.label {
    width: 210mm;
    height: 148.5mm;
    border: 1px solid;
}
.p-manual{
    padding: 22px 35px 12px 35px !important;
}
.black{
    color: black !important;
}
.pl-manual{
    padding-left: 45px !important;
}
.position{
    position: absolute;
    bottom: 0;
}